<?php
/**
 *
 *
 *
 *
 */

return [
    'userAgent' => 'Your Github Username', //should be Github Username
    'githubApiToken' => '~~~~~~~~', //there belongs a token you have to generate yourself
    'storageKey' => 'random_001', //please fill unique key
];
